Repository SwanseaUniversityMedical/workflows-test, pull requests merged in 2024-04, with the labels that each got.

#84 feat(controller-container): revert merge pr test
  .github/workflows/controller-container.yaml
Labels: trunk, main

#85 feat: revert testing per asset release branches
  .github/labeler.yaml
  .github/workflows/controller-container.yaml
  .github/workflows/fizzbuzz-chart.yaml
  .github/workflows/fizzbuzz-crds-chart.yaml
Labels: release, trunk, main

#86 feat: adjust maintenance branch names
  .github/labeler.yaml
  .github/workflows/controller-container.yaml
  .github/workflows/fizzbuzz-chart.yaml
  .github/workflows/fizzbuzz-crds-chart.yaml
Labels: release, main

#87 feat: trigger a release
  containers/controller/src/controller.py
Labels: release, main

#88 fix(controller-container): test a maintenance branch fix
  containers/controller/src/controller.py
Labels: release, controller-container, main, maintenance

#91 test(controller-container): Update controller.py
  .github/commitlint.config.mjs
  .github/workflows/pr-title-commitlint.yaml
  containers/controller/src/controller.py
Labels: release, main

#92 feat: test smaller semantic release container
  .github/workflows/controller-container.yaml
  .github/workflows/fizzbuzz-chart.yaml
  .github/workflows/fizzbuzz-crds-chart.yaml
Labels: release, main

#93 chore(deps): Update pr-title-commitlint.yaml
  .github/workflows/pr-title-commitlint.yaml
Labels: release, main

#94 feat(controller-container): Update controller.py
  containers/controller/src/controller.py
Labels: release, main

#96 feat(controller-container): test step summary output
  .github/workflows/controller-container.yaml
Labels: release, main

#97 feat(controller-container): Update controller.py
  containers/controller/src/controller.py
Labels: release, main

#98 chore(controller-container): bump workflow version
  .github/workflows/controller-container.yaml
  .github/workflows/pr-title-commitlint.yaml
Labels: release, main

#99 test: test chart CI step summaries
  .github/workflows/fizzbuzz-chart.yaml
  .github/workflows/fizzbuzz-crds-chart.yaml
Labels: enhancement, release, main

#100 test: mangle charts
  charts/fizzbuzz-crds/Chart.yaml
Labels: release, main

#101 feat: one mangled chart
  charts/fizzbuzz/Chart.yaml
Labels: release, main

#104 feat(fizzbuzz-chart): Update values.yaml to trigger failed release
  charts/fizzbuzz/values.yaml
Labels: release, main

#103 fix: fix the mangled charts and update to new workflows version
  charts/fizzbuzz-crds/Chart.yaml
  charts/fizzbuzz/Chart.yaml
Labels: release, main

#105 chore(deps): Update charts workflow
  .github/workflows/fizzbuzz-chart.yaml
  .github/workflows/fizzbuzz-crds-chart.yaml
Labels: release, main

#106 feat(controller-container): test optimized containers workflow
  .github/workflows/controller-container.yaml
Labels: release, main

#107 chore(controller-container): bump workflow version
  .github/workflows/controller-container.yaml
Labels: release, main

#109 fix(trino-container): Update trino-container.yaml extra tag command new line
  .github/workflows/trino-container.yaml
Labels: release, main

#110 fix(trino-container): Update trino-container.yaml command captured multiple lines
  .github/workflows/trino-container.yaml
Labels: release, main

#111 chore(deps): Update trino-container.yaml workflow
  .github/workflows/controller-container.yaml
  .github/workflows/trino-container.yaml
Labels: release, main

#112 feat: test inuit auto releases
  .github/pull_request_template.md
  .github/workflows/controller-container.yaml
  .github/workflows/fizzbuzz-chart.yaml
  .github/workflows/fizzbuzz-crds-chart.yaml
Labels: release, main

#113 feat: test intuit auto
  .github/workflows/controller-container.yaml
  .github/workflows/fizzbuzz-chart.yaml
  .github/workflows/fizzbuzz-crds-chart.yaml
  .github/workflows/trino-container.yaml
Labels: release, main, patch: fizzbuzz-crds-chart, major: controller-container, minor: trino-container, minor: controller-container

#114 feat: trigger a release
  charts/fizzbuzz-crds/values.yaml
  charts/fizzbuzz/values.yaml
  containers/controller/Dockerfile
  containers/trino/Dockerfile
Labels: release, main, patch: fizzbuzz-crds-chart, minor: fizzbuzz-chart, major: trino-container, minor: trino-container, minor: controller-container, patch: controller-container

#115 feat: trigger a release
  .github/workflows/controller-container.yaml
  .github/workflows/fizzbuzz-chart.yaml
  .github/workflows/fizzbuzz-crds-chart.yaml
  .github/workflows/trino-container.yaml
  charts/fizzbuzz-crds/values.yaml
  charts/fizzbuzz/values.yaml
  containers/controller/Dockerfile
  containers/trino/Dockerfile
Labels: release, main

#116 feat: test release
  charts/fizzbuzz-crds/values.yaml
  charts/fizzbuzz/values.yaml
  containers/controller/Dockerfile
  containers/trino/Dockerfile
Labels: release, main, patch: fizzbuzz-crds-chart, minor: fizzbuzz-chart, major: controller-container, minor: trino-container, minor: controller-container, patch: trino-container, patch: controller-container

#117 feat: test release
  charts/fizzbuzz-crds/values.yaml
  charts/fizzbuzz/values.yaml
  containers/controller/Dockerfile
  containers/trino/Dockerfile
Labels: release, main, patch: fizzbuzz-crds-chart, minor: fizzbuzz-chart, major: trino-container, major: controller-container

#118 feat: test release
  .github/labeler.yaml
  charts/fizzbuzz-crds/values.yaml
  charts/fizzbuzz/values.yaml
  containers/controller/Dockerfile
  containers/trino/Dockerfile
Labels: patch: fizzbuzz-crds-chart, patch: fizzbuzz-chart, major: controller-container, minor: trino-container

#119 feat: make concurrency cancel field conditional on github event
  .github/workflows/controller-container.yaml
  .github/workflows/controller-flake8.yaml
  .github/workflows/fizzbuzz-chart.yaml
  .github/workflows/fizzbuzz-crds-chart.yaml
  .github/workflows/pr-title-commitlint.yaml
  .github/workflows/trino-container.yaml
  charts/fizzbuzz-crds/values.yaml
  containers/trino/Dockerfile
Labels: minor: fizzbuzz-crds-chart, minor: fizzbuzz-chart, minor: trino-container, minor: controller-container
